body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  background-color: #ffffff;
  height: 150px;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.header-table {
  height: 100%;
  width: 100%;
}

.friends-logo {
  width: 150px;
  height: 150px;
}

.title {
  font-family: 'Josefin Slab', serif;
  font-size: 5em;
  display: inline;
}

.supportus-slide {
  width: 100%;
  height: 100%;
  background-color: #d11141;
}
.volunteer-slide {
  width: 100%;
  height: 100%;
  background-color: #00b159;
}
.bookstore-slide {
  width: 100%;
  height: 100%;
  background-color: #a200ff;
}
.location-slide {
  width: 100%;
  height: 100%;
  background-color: #ffc425;
}

.supportus-image {
  width: 375px;
  height: 500px;
  display: inline;
  float: left;
}

.volunteer-image {
  width: 700px;
  height: 500px;
  display: inline;
  float: left;
}

.bookstore-image {
  width: 667px;
  height: 500px;
  display: inline;
  float: left;
}

.location-image {
  width: 375px;
  height: 500px;
  display: inline;
  float: left;
}

.textbox-cell {
  height: 500px;
  width: 100%;
}

.textbox-container {
  border: 3px solid white;
  margin: 30px;
  height: 90%;
}

.slide-text {
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  padding: 10px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  font-size: 2em;
}

.nav-bar {
  background-color: #00aedb;
  color: #ffffff;
  height: 60px;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 1%;
  margin-bottom: 3%;
}

.link-text {
  color: white;
  color:inherit;
  text-decoration: none;
}

.nav-items {
  color: #ffffff;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav-items li {
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  font-size: 2em;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.slide-header {
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
}

.body-container {
  height: 1300px;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 3%;
  background: url('../public/images/inside-bookstore.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.slide-show {
  background-color: #ffffff;
}

#slides {
  position: relative;
  height: 500px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 500px;
  opacity: 0;
  z-index: 1;

  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

.divider-cell {
  background-color: white;
  z-index: 0;
  height: 200px;
  width: 101%;
}

.icons-container {
  width: 100%;
  margin-top: 50px%;
}

.icons-table {
  width: 100%;
  height: 200px;
}

.icon-item {
  width: 20%;
  vertical-align: bottom;
  position: relative;
}

.icon-button {
  font-family: 'Raleway', sans-serif;
  background-color: #00aedb;
  border-radius: 5px;
  font-size: 2em;
  line-height: 50px;
  color: #ffffff;
  width: 80%;
  margin: 0 auto;
  height: 50px;
  position: absolute;
  top: 150px;
  left: 0px;
}

.bookshelf-image {
  height: 281px;
  width: 500px;
  padding-top: 50px;
}

.svg-icon {
  height: 200px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 80%;
  margin: 0 auto;
}