body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.friends-logo {
  width: 120px;
  height: 120px;
  display: inline;
}

.library-friends {
  width: 240px;
  height: 320px;
  display: inline;
}

.inside-bookstore {
  width: 320px;
  height: 240px;
  display: inline;
}

.outside-bookstore {
  width: 320px;
  height: 240px;
  display: inline;
}

.outside-library {
  width: 240px;
  height: 320px;
  display: inline;
}

.title {
  display: inline;
  font-family: 'Josefin Slab', serif;
  font-size: 4em;
}

.NavBar {
  background-color: #9ed670;
  height: 60px;
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 1%;
  margin-bottom: 3%;
}

.nav-items {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav-items li {
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  font-size: 2em;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.Body {
  background-color: #d64d4d;
  height: 500px;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 3%;
}

#slides {
  position: relative;
  height: 300px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;

  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

.Footer {
  background-color: #e39e54;
}